.calender
{
	width: 500px;
	height: 300px;
	padding: 15px;
	margin: auto;
	overflow-y: auto;
}
.event
{
	padding: 10px;
	border-bottom: 1px dashed #eee;
	color: #aaa;
}
.event h1
{
	font: 36px Century Gothic, Arial;
	color: #555;
	float: left;
}
.event h2
{
	font: 24px Century Gothic, Arial;
	color: #888;
	text-align: right;
	padding-top: 12px;
}
.event p
{
	font: 14px Century Gothic, Arial;
	clear: both;
}
.in
{
	width: 100%;
	height: 100%;
	background: #fff;
}
.header
{
	height: 40px;
	padding: 10px 10px 15px;
	background: url("../images/headerBottom.png") repeat-x center bottom;
}
.searchHolder
{
	position: absolute;
	margin: 2px 0 0 25px;
}
.search, .home
{
	position: absolute;
	width: 38px;
	height: 38px;
	background: #bbb url("../images/search.png") no-repeat center center;
	border: 10px solid #fff;
}
.home
{
	margin-left: 30px;
	background-image: url("../images/home.png");
}
.search:hover, .home:hover
{
	background-color: #ccc;
}
.search:active
{
	margin: 1px 0 0 1px;
}
.home:active
{
	margin: 1px 0 0 31px;
}
.arrowHolder
{
	position: absolute;
	width: 232px;
	margin: 5px 0 0 110px;
}
.arrow
{
	width: 24px;
	height: 27px;
	padding: 5px;
	background: #fff no-repeat 12px 12px;
	border-width: 0;
}
.arrow:hover
{
	background-position: 11px 11px;
}
.arrow:active
{
	background-position: 12px 12px;
}
.arrow.left
{
	background-image: url("../images/arrowLeft.png");
	position: absolute;
}
.arrow.right
{
	background-image: url("../images/arrowRight.png");
	float: right;
}
.monthYear
{
	width: 450px;
	text-align: center;
	font: 32px Century Gothic, Arial;
	padding: 0;
	margin: 0;
}
.clock
{
	position: absolute;
	margin: 6px 0 0 380px;
	font: 24px Agency FB;
	color: #bbb;
}
.clock span
{
	font-size: 12px;
}
.days div
{
	width: 70.5px;
	float: left;
	margin: 0 0 -1px;
	padding: 2px 0 0;
	text-align: center;
	font: 12px Century Gothic, Arial;
	color: #bbb;
}
.dates
{
	float: left;
	width: 546px;
}
.dates div
{
	width: 55.2px;
	height: 21px;
	background: #e0fbff;
	border: 1px solid #b7ebf3;
	float: left;
	margin: 5px 0 0 5px;
	padding: 8px 0;
	text-align: center;
	font: 14px Century Gothic, Arial;
	color: #aaa;
	cursor: default;
}
.dates div.date:hover
{
	width: 53.2px;
	height: 21px;
	padding: 4px 0 10px;
	border-width: 2px;
	font-size: 18px;
}
.dates div.today
{
	background: #43d5ed;
	border-color: #32bfd6;
	color: White;
	font-weight: bold;
}
.dates div.highlight
{
	background: #daebf5;
	border-color: #5ae;
	padding: 4px 0 12px;
	color: #5ae;
	cursor: pointer;
	text-align: left;
}
.dates div p.number
{
	margin: 0;
	width: 52px;
	text-align: center;
}
.dates div.highlight:hover
{
	padding: 0 0 14px;
}
.dates div.highlight span
{
	position: absolute;
	display: block;
	width: 57px;
	margin-top: -2px;
	text-align: center;
	font-size: 11px;
}
.dates div.searched
{
	border: 1px dashed #555;
}
.dates div.out
{
	background: #fff;
	border: 1px solid #fff;
	color: #d9d9d9;
}
#calenderModal
{
	display: none;
}
#calenderModalBG
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.6;
	filter: alpha(opacity = 60);
}
#calenderSearchForm, #dateInfoBox
{
	position: absolute;
	display: none;
	left: 50%;
	width: 260px;
	height: 145px;
	padding: 30px;
	margin-left: -160px;
	z-index: 3;
	background: url("../images/modalBG.png");
}
#dateInfoBox
{
	padding: 20px;
	width: 280px;
	height: 165px;
}
#calenderSearchForm h1, #dateInfoBox h1
{
	font: 22px Century Gothic, Arial;
	text-align: center;
	margin: 0 0 20px;
	color: #555;
}
#dateInfoBox h1
{
	margin-bottom: 5px;
}
#calenderSearchForm h1:first-child, #dateInfoBox h1:first-child
{
	cursor: move;
}
#calenderSearchForm input.text
{
	width: 170px;
	height: 26px;
	padding: 10px;
	background: #eee;
	font: 16px Century Gothic, Arial;
	border-width: 0;
	background: url("../images/searchText.png");
	color: #aaa;
}
#calenderSearchForm input.submit
{
	width: 60px;
	height: 46px;
	padding: 0 30px;
	border-width: 0;
	position: absolute;
	background: url("../images/searchSubmit.png");
}
#calenderSearchForm input.submit:active
{
	margin: 1px 0 0 1px;
}
#calenderSearchForm a, #dateInfoBox a
{
	display: block;
	font: 12px Century Gothic, Arial;
	width: 50px;
	text-align: center;
	color: #aaa;
	padding: 10px;
	margin: 20px auto 0;
}
#dateInfoBox a
{
	margin-top: 5px;
	padding: 5px;
}
#dateInfoBox p
{
	margin: 0 0 15px;
	font: 12px Century Gothic, Arial;
	color: #aaa;
}
#dateInfoBox #dateInfoScroller
{
	height: 140px;
	overflow-y: auto;
}
